@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --bg-main: #ffffff;
    --bg-secondray: #a0a0a0;
    --color-main: #000;
    --color-secondary: #fff;
    --box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Global */
p {
    margin: 0;
}


/* Main */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-secondray);
    color: var(--color-main);
}


.app-container {
    padding: 0 2rem;
    width: 100%;
    max-width: 960px;
    margin: 1rem auto 0 auto;
}

.app-container > div {
    background-color: var(--bg-main);
    box-shadow: var(--box-shadow);
    padding: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 576px) {
    .app-container {
        padding: 0 1rem;
    }
}

/* #### Header #### */
/* .header {

} */

.header.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header.active {
    justify-content: space-between;
    /* padding: .5rem 2.5vw; */
}

.search {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    margin: auto 0;
}

.flex-sb {
    justify-content: space-between;
}

/* Search Bar */
.sb-search {
    display: flex;
    align-items: center;
    background-color: var(--bg-secondray);
    border-radius: 28px;
    padding: 0.5rem 1rem;
    margin: 0;
    z-index: 10;
    height: 45px;
}

.sb-search button,
input {
    border: none;
}

.sb-form {
    height: 100%;
}

.sb-search input {
    font-size: 1rem;
    font-weight: 400;
    background-color: inherit;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}


.sb-search input::placeholder {
    color: var(--color-secondary);
    font-size: 1rem;
    font-weight: 500;
}

.sb-search .sb-btn:active,
.sb-search .sb-btn:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.sb-btn {
    background-color: inherit;
    padding: 0;
    margin: 0;

}

.sb-icon.fa-search {
    color: var(--color-secondary);
    padding: 0 0.75rem 0 .5rem;

}

.sb-icon.fa-location-dot {
    padding: 0 .5rem 0 1.5rem;
}

/* ###################### */

.time {
    font-size: 1.15rem;
}

/* Search Area */
.temp-unit {
    border-radius: 4px;
}

.temp-unit-text {
    color: #8a8a8a;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
}

.temp-unit-text.active {
    color: #444444;
    cursor: auto;
}

.divider {
    border-left: solid 1px #000;
    margin: 0 4px;
    height: 10px;
}

/* Current Weather */
.cw-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: rgb(255, 255, 255);
}

.cw-heading h4 {
    font-size: clamp(2rem, 5vw + 1rem, 4rem);
}

.cw-heading p {
    font-size: 1.25rem;
}


.cw-info {
    display: flex;
    align-items: center;
    column-gap: .75rem;
    text-transform: capitalize;
}

.cw-desc {
    font-size: clamp(1rem, 5vw + 1rem, 1.875rem);
    font-weight: 500;
}

.cw-temp {
    font-size: 4rem;
}

.cw-feels-like {
    font-size: 1.875rem;
    margin-left: .5rem;
}

/* cw-indecator */

.cw-addinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cw-add-container {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1rem;
    border-radius: 3px;
}

.cw-add-box {
    display: flex;
}

.cw-add-box div {
    display: flex;
    flex-direction: column;
    width: 125px;
}

.cw-add-box-heading {
    font-size: 1.15rem;
}

.cw-add-box-value {
    font-size: .95rem;
    color: #9e9e9e;
}


/* sunris and sunset */
.sun-info {
    display: flex;
    justify-content: space-between;
    padding: 0 .25rem;
    margin-bottom: 1rem;
}

.sun-info div {
    text-align: center;
}

.sun-info h5 {
    margin: 0;
}

@media (max-width: 768px) {
    .cw-container {
        justify-content: center;
        row-gap: 1rem;
    }

    .cw-container div {
        width: 100%;
    }

}


/* #### 7 Day forecast ####*/
.wf-container {

    display: flex;
    overflow-x: auto;
    justify-content: space-between;
    column-gap: .25rem;
    padding: .5rem;
}

.wf-box {
    padding: .5rem;
    border-radius: 3px;
    text-align: center;
    margin-top: .25rem;
}

.wf-box-icon {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    color: rgb(0, 0, 0);
}

.wf-max-temp {
    padding-right: .25rem;
}

/* Air Quality */
/* .aq-container {
    padding: 1rem;
} */

/* .aq-aqi-box {
    color: green;
   
} */

.aq-aqi-main {
    font-size: 3.5rem;
    margin-right: .5rem;
}

.aq-aqi-desc {
    font-size: 1.5rem;
}


/* Components */
.aq-comp-container {
    padding: .5rem 0;
    display: flex;
    align-items: center;
}

.aq-comp-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: .75rem;
}

.aq-comp-value {
    color: green;
    font-size: clamp(1.05rem, 2.5vw + 1rem, 1.05rem);
}

.aq-comp-name {
    font-size: .85rem;
}